#not-found-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: hsl(0, 0%, 0%);
}

#not-found-container > h1 {
    font-size: 12em;
    color: white;
}